html, body{
    margin:0;
    padding:0;
}

.center{
    text-align: center;
    align-items: center;
    justify-content: center;

}

#menuContainer{
    display: flex;
}

#navMenu{
    display: flex;
    list-style: none;
}

.flex1{
    flex:1;
    text-align: center;
    flex-grow:1;

}

#menuContainer{
    border: black 2px solid;
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    height:clamp(2rem, 10vh, 3rem);

}

li:hover{

    background-color:black;
}


