html, body{
    margin:0;
    padding:0;
    background: black;
}

#pageContainer{
    display: flex;
    flex-direction: column;
}

.center{
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

#menuContainer{
    display: flex;
}

#navMenu{
    display: flex;
    list-style: none;
}

.flex1{
    flex:1;
    text-align: center;
    flex-grow:1;
    height: 100%;
}

ul{
    margin:0;
    padding:0;
    height: 100%;
   
}

#menuContainer{
    border-left: black 2px solid;
    border-right: black 2px solid;
    border-top: black 2px solid;
    border-collapse: collapse;
    height:clamp(2rem, 10vh, 3rem);
}

li:hover{
    background-color:blue;
}


.svg{
border:solid white 1px;


}

#SVGContainer{
    border:red 1px solid;
    height: 100%;
    flex-grow: 1;

}

circle{
    stroke-dasharray: 400px;
    animation-name: spin;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	transform-origin: 250px 250px;
	will-change: transform;
    
}
#c1{
    animation-duration: 1s;
}
#c2{
    animation-duration: 1.5s;
}
#c3{
    animation-duration: 2s;
}
#c4{
    animation-duration: 2.5s;
}


@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
    100%{
        transform: rotate(360deg);
    }
}


