html,
body {
    margin: 0;
    padding: 0;
    background: black;
}

#pageContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.center {
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

#menuContainer {
    display: flex;
}

#navMenu {
    display: flex;
    list-style: none;
}

.flex1 {
    flex: 1;
    text-align: center;
    flex-grow: 1;
    height: 100%;
}

ul {
    margin: 0;
    padding: 0;
    height: 100%;

}

#menuContainer {
    border-left: black 2px solid;
    border-right: black 2px solid;
    border-top: black 2px solid;
    border-collapse: collapse;
    height: clamp(2rem, 10vh, 3rem);
}

li:hover {
    background-color: blue;
}




#SVGContainer {
    border: red 1px solid;
    height: 100%;
    flex-grow: 1;

}

#circles {
    animation-name: spinReverse;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform-origin: 250px 250px;
    animation-duration: var(--speed5);
    animation-play-state: var(--running);

}

.menuHover {

    animation-duration: 0.1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}



.scaleUp {
    animation-name: scaleUp;
}

.scaleDown {
    animation-name: scaleDown;
}

.BGup {
    animation-name: BGup;
}

.BGupR {
    animation-name: BGupR;
}

.BGdown {
    animation-name: BGdown;
}

.BGdownR {
    animation-name: BGdownR;
}
.scaleUpFull{
    animation-name: scaleUpFull;
}
.scaleDownFull{
    animation-name: scaleDownFull;
}
.BGtopMenu{
    animation-name: BGtopMenu;
}
.BGmidMenu{
    animation-name: BGmidMenu;
}
.BGbottomMenu{
    animation-name: BGbottomMenu;
}



circle {
    stroke-dasharray: 400px;
    animation-name: spin;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform-origin: 250px 250px;
    will-change: transform;

}

#c1 {
    animation-duration: var(--speed1);
}

#c2 {
    animation-duration: var(--speed2);
}

#c3 {
    animation-duration: var(--speed3);
}

#c4 {
    animation-duration: var(--speed4);
}




@keyframes spin {
    0% {
        transform: rotate(0deg);
        filter: drop-shadow(0px 0px 2px white)
    }

    100% {
        transform: rotate(360deg);
        filter: drop-shadow(0px 0px 2px white)
    }
}
@keyframes spinReverse {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}
@keyframes scaleUp {
    from {
        transform: scale(1);
        filter: drop-shadow(0px 0px 0px);
    }

    to {
        transform: scale(1.1);
        filter: drop-shadow(0px 0px 5px white)
    }
}
@keyframes scaleDown {
    from {
        transform: scale(1.1);
        filter: drop-shadow(0px 0px 5px white)
    }

    to {
        transform: scale(1);
        filter: drop-shadow(0px 0px 0px);

    }
}
@keyframes BGup {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-0.5%);
        filter: drop-shadow(0px 0px 5px white)
    }
}
@keyframes BGupR {
    from {
        transform: translateY(-0.5%);
    }

    to {
        transform: translateY(0);

    }
}
@keyframes BGdown {
    from {
        transform: translateY(0);

    }

    to {
        transform: translateY(0.5%);
        filter: drop-shadow(0px 0px 5px white)
    }
}
@keyframes BGdownR {
    from {
        transform: translateY(0.5%);
    }

    to {
        transform: translateY(0);

    }
}
@keyframes scaleUpFull {
    from {
        transform: scale(1);
        filter: drop-shadow(0px 0px 0px);
    }

    to {
        transform: scale(5);
        filter: drop-shadow(0px 0px 5px white)
    }
}
@keyframes scaleDownFull {
    from {
        transform: scale(5);
        filter: drop-shadow(0px 0px 5px white)
    }

    to {
        transform: scale(1);
        filter: drop-shadow(0px 0px 0px);

    }
}
/*@keyframes BGtopMenu {
    from {
        
    }

    to {
        
        transform: rotate(90deg);

    }
}
@keyframes BGmidMenu {
    from {
        
    }

    to {
        
        transform: rotate(90deg);

    }
}
@keyframes BGbottomMenu {
    from {
        
    }

    to {
        
        transform: rotate(90deg);

    }
}*/
