#outputContainer{
    width: 100%;


}

#visualContainer{
    display:flex;
    flex-direction: column;
    border:white 1px solid;
    


}

input{
    flex:1;
}

#controlContainer{
    display: flex;
    flex: 1;
    border:white 1px solid;
    flex-wrap: wrap;
    flex-direction: column;
    
}

.controlBtns{
    display: flex;
    flex: 1;
}

#tree{
    display: flex;
    flex: 1;
    min-height: 500px;
    flex-direction: row;


}

#explinationContainer{
    flex:1;
}

#output{

    border: white solid 1px;
    
}

.stackItem{
    border:white 1px solid;
    height: 70px;
    width: 70px;

}

#outputText{
    text-align: center;
    justify-content: center;
    min-height: 20px;

}

p{
    margin-left: 5px;;
}

.code{
    color: grey;
    margin-left: 30px;;
}

svg{
    width:100%;
    min-height:500px;
    border:red solid 1px;
}

