/* root is the root element, like the "html" tag */
:root {

  /* the "--" is the variable */

  --tbase: #000000;
  --tspacing: 10px;
  --tblur: 0px;

  --mbase: #000000;
  --mspacing: 20px;
  --mblur: 10px;


}

#trees{

  /* to access a varibale, use "var" */
  /* the "--" is like the "$" in powershell */
  padding: var(--tspacing);
  background: var(--tbase);
  filter: blur(var(--tblur));
}

#mountains{

  padding: var(--mspacing);
  background: var(--mbase);
  filter: blur(var(--mblur));

}

.hl {
  color: var(--base);
}



/*
      misc styles, nothing to do with CSS variables
    */

h2 {

  font-size: 30px;
}

html {
  background: #018DED url(../../BackgroundBlank.jpg);
  background-size: cover;
  font-family: 'helvetica neue';
  text-align: center;
  font-size: 10px;
}

body {
  text-align: center;
  font-family: 'fantasy', papyrus;
  font-weight: 100;
  font-size: 20px;

}

.controls {
  margin-bottom: 50px;
}

input {
  width: 100px;
}

.HomeLink {

  font-family: 'fantasy', papyrus;
  font-size: 40px;
  text-align: center;
  text-decoration: none;
  padding: 10px;

}

a:hover {
  text-decoration: underline;
}

.HomeContainer {

  text-align: center;
  width: 100%;
  height: 20%;
  align-items: center;
  position: relative;
  bottom: 0%;
  padding: 20px;

}

#checkBoxes {

  padding: 10px;
}