html {
    color: black;
    font-family: sans-serif;
    background-color: black;
  }

  .box{
    width: 200px;
    height: 200px;
    border:white 3px solid;

    
  }

  body {
    margin: 0;
  }

  .hero {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    border: 1px white solid;
  }
