h1 {

    color: Blue;
    text-align: center;
}

h2 {
    
    text-align: center;
    
}

.hide {
    
    display:none;
}

.show {
    
    display:block;
    
    
}

.tableDiv {
    
    
    display:inline;
    align-content: center;
    border-style: solid, 1px;
    margin: auto;
    text-align: center;
}