h1{

    text-align: center;
    color: white;
}

#appContainer{

    border: 1px white solid;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#container{

    min-width: 400px;
    min-height: 650px;
    border: red 1px solid;
    

}

#pictureContainer{
    border: 1px white solid;
    min-height: 600px;
}

#picture{
    min-height: 500px;
    border: green 1px solid;
}

.hidden{

display: none;

}