h1{

    text-align: center;
    color: white;
}

#appContainer{

    border: 1px white solid;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#container{

    min-width: 400px;
    min-height: 650px;
    border: red 1px solid;
    

}

#pictureContainer{
    border: 1px white solid;
    min-height: 600px;
}

#picture{
    min-height: 450px;
    border: green 1px solid;
}

.hidden{

display: none;

}

#nav{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;

    border: yellow solid 1px;
}

.hint{
    margin: 2px;
}

#guessingContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;;
}

#picture{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 750px;
    width: 500px;
}

#textHintDiv{
    display: flex;
    justify-content: center;
    align-items: center;


}

.min{
    height: 0px;
    width: 0px;

}

.max{
    
    height: 600px;
    width: 400px;
}

#textHint{
    word-wrap: break-word;
    text-align: center;
}



#poster{
    width: 333px;
    height: 500px;
}

#imageHint{
    width: 400px;
    height: 600px;
    
}