html {
  font-size: 10px;

}

body,html {
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  height: 100%;
  display: flex;
  overflow-y: hidden;

}

.keys {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  min-height: clamp(30vh,50vh,80vh);
  align-items: center;
  justify-content: center;
}

.key {

  border: .4rem solid rgb(255, 255, 255);
  border-radius: .5rem;
  margin: .5rem;
  font-size: clamp(.5rem, 1.5rem, 2rem);
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: clamp(2rem, 10rem, 15rem);
  text-align: center;
  color: white;
  background: rgba(2, 2, 2, 0.8);
  text-shadow: 0 0 .5rem black;
}


.playing {
  transform: scale(1.1);
  border-color: #949494;
  box-shadow: 0 0 1rem #000000;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: clamp(.2rem, 1.0rem, 1.7rem);
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ffffff;
}


a:hover {
text-decoration: underline;
}

