html {
  
    margin: 0;
    overflow: hidden;
  }
  body {
    margin: 0;
  }

  a:hover {
    text-decoration: underline;
  }

  #canvasContainer{

    display: flex;
    height: 80%;

    justify-content: center;
    align-items: center;
    align-items: center;
    display: flex;
    flex-direction: column;

    border: 1px white solid;
  }

 

  


  #draw{

  border: 1px black solid;

  }

  
.controls {
  margin-bottom: 50px;
  text-align: center;
  align-items: center;
  margin:2px;
}

input {
  width: 100px;
}

.button{

  font-size: 20px;
  font-weight: bold;

}

label{

font-size: 25px;
padding: 2px;

}

.hidden{

  display: none;


}

.show{

  display: block;
}

a {
  color: white;
}
