

a:hover {
  text-decoration: underline;
}


#table, #tableStart {

  border: rgb(255, 255, 255) 2px solid;
  border-collapse: collapse;
  margin: 25px 0;
  min-width: 500px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.15);
  border-collapse: collapse;
  text-align: center;
  margin-left:auto; 
  margin-right:auto;



}

tr {
  border-bottom: 1pt solid rgb(255, 255, 255);
}

h1 {

  text-align: center;

}

h2 {

  text-align: center;

}

.controls{

  text-align: center;
  width: 100%;
  margin: auto;
  align-items: center;


}  

.button{

  font-size: 20px;
  font-weight: bold;

}

input{

  font-size: 20px;
  font-weight: bold;

}

p {

  font-size: 20px;

}

.suggestions {
  margin: 0;
  padding: 0;
  position: relative;
  
  /*perspective: 20px;*/

  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.suggestions li {
  background: rgb(0, 0, 0);
  list-style: none;
  border-bottom: 1px solid #D8D8D8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
  margin: 0;
  padding: 10px;
  transition: background 0.2s;
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
  width: 35%;
  text-align: center;
  align-items: center;

}



li:nth-of-type(1n+7) {
  display: none;
} 

.suggestions li:hover{

background: grey;
}

.search-form{

  text-align: center;
}

ul {

  text-align: center;
  align-items: center;

}

.hl {

  background: lightgray;

}

.hidden{

  display: none;
  
}

#error{

color: red;

}

input[type="button"]{
  background: black;
  color: white;
  border: 2px solid white;
  border-radius: 4px;
  margin:2px;
  transition-duration: .2s;
}

input[type="button"]:hover{
background:white;
color: black;
}

input[type="text"], input[type="number"] {
  border: white 2px solid;
  color: white;
  background: black;
}
