
  body {
    margin: 0;
    overflow: hidden;
  }
  

  
  a:hover {
    text-decoration: underline;
  }
  
  #canvasContainer{

    display: flex;
    height: 80%;
    border: 1px solid white;

    justify-content: center;
    align-items: center;
    align-items: center;

  }
  #draw{

  border: 1px black solid;

  }