html {

  background-size: cover;
}



a:hover {
  text-decoration: underline;
}

.HomeContainer {

  text-align: center;
  width: 100%;
  height: 10%;
  align-items: center;
  position: absolute;
  bottom: 0%;

}

#table, #tableStart {

 
  border: black 2px solid;
  border-collapse: collapse;
  margin: 25px 0;
  min-width: 500px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-collapse: collapse;
  text-align: center;
  margin-left:auto; 
  margin-right:auto;



}

tr {
  border-bottom: 1pt solid black;
}

h1 {


  text-align: center;

}

.controls{

  text-align: center;
  width: 100%;
  margin: auto;
  align-items: center;


}  

.button{

  font-size: 20px;

  font-weight: bold;

}

input{

  font-size: 20px;

  font-weight: bold;

}

p {

  font-size: 20px;
 

}